<form [formGroup]="commentEditForm" (ngSubmit)="onEdit()">
  <div class="col s12">

    <textarea
      placeholder="Comment this post"
      cols="30"
      rows="5"
      formControlName="description"
    ></textarea>

    <div class="action-edit">
      <button
        class="btn edit waves-effect waves-light"
        type="submit"
        [disabled]="!commentEditForm.valid"
      >
        edit
      </button>
      <a
        class="btn-floating delete waves-effect waves-light"
        (click)="onCancel()"
      >
        <i class="material-icons">close</i>
      </a>
    </div>

  </div>
</form>
